@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Handlee&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;700;800&family=Rubik:wght@300;400;500&family=Satisfy&display=swap');

$font-family: 'Poppins', sans-serif;
$color-oscuro: #4B327B; 
$color-blanco: #fff;
$color-celeste: #56eaf1;
$color-rojo: #FB0B0B;
$color-verde: #7DDA2A;
$color-amarillo: #E9DC16;
$color-morado: #9A44FB;

:root {
    --color-bg: #E4EEF8;
    --color-content-blanco: #fff;
    --color-content-negro: #000;
    --color-content-color: #53bfe0;
    --color-content-custom: #fff; 
}